@font-face {
    font-family: 'Source Code';
    src: url('SourceCodePro-Regular.ttf');
}

:root {
    --bg-color: #3b3a3a;
    --color: #103B11;
    --color: #11d918;
}

* {
    color:whitesmoke;
    font-family: 'Source Code';
}

html {
  background-color: var(--bg-color);
}

input {
    background-color: var(--bg-color);
    /*border: 2px solid whitesmoke;*/
    color: whitesmoke;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.whiteButton {
    border: 2px solid whitesmoke;
    background-color: var(--bg-color);
    color: whitesmoke;
    transition-duration: 0.5s;
    font-size: 1em;
}

.whiteButton:hover {
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    color: black;
    transition-duration: 0.5s;
    font-size: 1em;
}

.whiteButtonActive {
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    color: black;
    transition-duration: 0.5s;
    font-size: 1em;
}

#simulationCanvas {
    border: 2px solid white;
}

#uiHolder {
    display: grid;
    gap: .25em;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}
#uiHolder button {
    margin: .5vh .5vh;
}
#uiHolder div {
    text-align: center;
    width: 10em;
    margin-top: 1em;
}